programmer_usbasp/atmega328p_Blink_c/*.o
programmer_usbasp/atmega328p_Blink_c/*.bin
programmer_usbasp/atmega328p_Blink_c/*.hex

programmer_usbasp/attiny85_onOff/*.o
programmer_usbasp/attiny85_onOff/*.bin
programmer_usbasp/attiny85_onOff/*.hex

programmer_usbtiny/atmega328p_Blink_c/*.o
programmer_usbtiny/atmega328p_Blink_c/*.bin
programmer_usbtiny/atmega328p_Blink_c/*.hex

programmer_usbtiny/atmega328p_Blink_cpp/*.o
programmer_usbtiny/atmega328p_Blink_cpp/*.bin
programmer_usbtiny/atmega328p_Blink_cpp/*.hex
